html{
	width: 100%;
}
body{
	width: 100%;
	font-size: 16px;
	padding: 0px;
	margin:0px;
	font-family: Helvetica,Arial,sans-serif;
}
div.header{
	height: 50px;
	line-height: 50px;
	background: black;
	margin: 0px;
	padding-left:20px;
	padding-right:20px;
	color: white;
	font-size:1.125em;
	font-weight: bold;
}
div.subheader{
	padding-left:30px;
	font-style: italic;
	font-size: 0.875em;
}
div.footer{
	height: 50px;
	line-height: 50px;
	background: black;
	margin: 0px;
	padding-left:20px;
	padding-right:20px;
	color: white;
}
div.footerblock{
	display:inline-block;
	line-height:14px;
	font-size: 0.75em;
	max-width: 50%;
	vertical-align:middle;
}
.silver{
	color:silver;
}
.pink{
	color:pink;
}
div.header img{
	height:40px;
	vertical-align: middle;
}
div.footer img{
	height:40px;
	vertical-align: middle;
}
div.header a{
	color:white;
	text-decoration:none;
}
button.bars{
	float: right;
	height:50px;
	width:50px;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 1px;
	outline: none;
}

div.links{
	background: black;
	text-align: right;
	padding-right: 30px;
	border-top:1px solid white;
	border-bottom: 1px solid white;
	color: white;
	display: none;
}
ul.linklist{
	list-style-type: none;
	line-height: 2em;
}
div.links a{
	color: white;
	text-decoration: none;
}
div.main{
	padding-left: 30px;
	padding-right:30px;
	padding-top: 20px;
}
div.center{
	text-align: center;
}
img.about{	
	display: block;	
	margin: auto;	
	height: 200px;
}

div.news{
	margin: 20px;
	margin-bottom:40px;
}
.news img{
	max-width: 75%;
	max-height: 300px;
	display: block;
	margin: auto;
}
img.small{
		max-width: 75%;
	max-height: 200px;

}
div.newsheader{
	font-weight: bold;
	font-size: 1.125em;
}
div.headline{
	font-weight:bold;
	font-size:1.125em;
	text-align: center;
}


div.inactive{
	font-style: italic;
}
div.inactive:before{
 content: "* ";
}
div.chapter{
	display:inline-block;
	padding:20px;
	width:30%;
	font-size:1em;
	vertical-align: top;
}
div.state{
	display:block;
	padding: 20px;
	font-weight:bold;
	font-size: 1.125em;
}
div.region{
	display:none;
	padding: 20px;
	font-weight:bold;
	font-size: 1.125em;
	text-decoration: underline;
}
button.chapterButton{
	margin:2px;
	border-radius: 2px;
}

#regionmap{
	width:50%;
max-width: 400px;
}




div.imglink{
	width:200px;
	height:220px;
	border: 1px solid black;
	display: inline-block;
	margin: 20px;
}
img.imglink{
	width:190px;
	height:190px;
	margin: 5px;
}
div.imglinktitle{
	text-align: center;
	border-bottom:1px solid black;
	background: black;
	height:20px;
	line-height: 20px;
	font-size: 18px;
	color: white;
}
a.imglink{
	text-decoration: none;
}
